.responsive_grid  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(8, fit-content);
    grid-gap: 1.25rem;
    align-items: stretch;
}

.responsive_grid  img{
	display: block;
	width: 100%;
	height: auto;
	object-fit:cover;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);


}