/* CSS Variables */
$pageheadercolour:grey; 
$textcolour: grey;
$h3color:blue;
$strapline:green;
$listcolour:orange;
$footer_bgcolour:#08225e;


/* Globals */

body {
	margin: 0;
	padding:0;
}


/*top header */
@media screen and (min-width: 730px)
{ .top-text{
		text-align: right;
		margin-right: 10vw;
		padding-top: 2rem;
		font-size: .8rem;
		color: white;
	}	
 }
 
@media screen and (max-width: 730px)
{ .top-text{
		display: none;	}	
 }
 
 
 /*banner header  */
 .banner{
 	position: relative;
	 margin: 0;
	 padding: 0;
	 width: 100vw;
	 height: 500px;


	
/* background gradient from CSS-tricks  */
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, .6)
    ),
 url(../images/beach-view-tinied.jpg);
 	background-size: cover;
 	/*background-position: */
	 background-repeat: no-repeat;
	 overflow: hidden;
}
 
 .title_and_menu{
	 width:500px;
	 max-width: 800px;
	 height:auto;

 }
.title{
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: white;
	padding-top:  12%;
	text-transform: uppercase;
	font-size: 45px;
	
}



/* menu from https:labs.jensimmons.com/2017/01-003.html */
.responsive_nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-gap: 0.25rem;
	margin-left:20%;
	margin-right: 20%;
} 
  
 a{
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    text-align: center; 
    
}

a:visited{
	color: light grey;
}

a:hover{
	border-bottom: 3px solid white;
}

a:active{ 
	color: green;
}



/* All pages*/

.blurb{
		font-family: "Roboto" ,  sans-serif;
		width: 75%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 2rem 0 2rem;
		text-align: justify;
		color: $textcolour;
		line-height: 1.4;
}

.page-title{
	text-align: center;
	margin: 3rem 0 4rem 0;
}

h1{
	color: $footer_bgcolour;
}

h2{
	color:$footer_bgcolour;
	margin-bottom: 0;
}

h3{
	font-size: x-large;
}

h4{
	color:$footer_bgcolour;	
	margin-bottom: 0;
}
	
p{
	color:$textcolour;
}


/* Welcome */
.mugshot{
		float: left;
		margin-right: 3rem;
}


/* About  */	

/* Testimonials */

/*  Gallery  */
.flex-container {
  width:70%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: lightgray;
  grid-template-columns: minmax(100px, 200px) 1fr 1fr;
  justify-content: space-between;
}

.flex-container > div {
  flex-grow: 1;
  background-color: #f1f1f1;
  width: 200px;
  height:200px;
  margin:10px 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


/*  footer */

.footer{

	text-align: center;
	position:fixed;
	bottom: 0;
	width: 100vw;
	height: 30px;
	color: white;
	background-color:$footer_bgcolour;
}

.footer img{
	margin-right: 20px;
	margin-top: 5px;
	
}

.footer_content{
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	margin-left: 10px;
	color:#ccde58;
	font-size: .8rem;
	
}




/* Jotform form container */
	.jotform_container{
		width: 80%;
		border: 1px solid $footer_bgcolour;
		border-radius: 3px;
		max-width: 700px;
		margin: 2rem auto;
		padding: 3rem;
		
	}
	
	
/* thank you page */
	.thank_you{
		width: 80%;
		border: 1px solid lightgray;
		border-radius: 3px;
		max-width: 700px;
		margin: 2rem auto;
		padding: 3rem;		
	
}


