/* CSS Variables */
/* Globals */
body {
  margin: 0;
  padding: 0; }

/*top header */
@media screen and (min-width: 730px) {
  .top-text {
    /*text-align: right;*/
    /*margin-right: 10vw; */
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding-top: 2rem;
    font-size: .8rem; }
  .top-text-right p {
    color: white; }
  .top-text-left p {
    color: #08225e; }
  .top-text-right p {
    float: right; } }

@media screen and (max-width: 730px) {
  .top-text {
    display: none; } }

/*banner header  */
.banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  /* background gradient from CSS-tricks  */
  background: linear-gradient(transparent, transparent), url(../images/kiss_on_beach_under_arch-centre-cropped_tiny.jpg);
  background-size: cover;
  /*background-position: */
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }

.title_and_menu {
  width: 500px;
  max-width: 800px;
  height: auto; }

.title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  padding-top: 12%;
  text-transform: uppercase;
  font-size: 45px; }

/* menu from https:labs.jensimmons.com/2017/01-003.html */
.responsive_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.25rem;
  margin-left: 20%;
  margin-right: 20%; }

a {
  color: #fff;
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  border-radius: 25px;
  text-decoration: none;
  padding: 5px 0;
  text-align: center; }

/*from CSS tricks 
.gradient {
  background-image:
    radial-gradient(
      yellow,
      #f06d06
    );
} */
a:visited {
  color: light grey; }

a:hover {
  border-bottom: 3px solid white; }

a:active {
  color: green; }

/* All pages*/
.blurb {
  font-family: "Roboto" ,  sans-serif;
  width: 75%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 2rem 0 2rem;
  text-align: justify;
  color: grey;
  line-height: 1.4; }

.page-title {
  text-align: center;
  margin: 3rem 0 4rem 0; }

h1, h2, h4 {
  color: #08225e;
  margin-bottom: 0; }

h3 {
  font-size: x-large; }

/* Welcome */
.mugshot {
  float: left;
  margin-right: 3rem; }

/* About  */
/* Testimonials */
.testimonials_grid {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) minmax(300px, 3fr);
  grid-gap: 5%;
  align-items: top; }
  .testimonials_grid .img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain; }
  .testimonials_grid .txt h4 {
    margin-top: 0; }

@media screen and (max-width: 700px) {
  .testimonials_grid {
    display: block; }
  .txt {
    margin-bottom: 60px; } }

/*  footer */
.footer {
  /*text-align: center; */
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  background-color: #08225e; }

.footer_content {
  width: 20rem;
  height: auto;
  margin: auto;
  margin-bottom: 10px; }

.footer img {
  margin-right: 20px;
  margin-top: 5px; }

.footer_txt {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: #ccde58;
  font-size: .8rem; }

/* Jotform form container */
.jotform_container {
  width: 80%;
  border: 1px solid #08225e;
  border-radius: 3px;
  max-width: 700px;
  margin: 2rem auto;
  padding: 3rem; }

/* thank you page */
.thank_you {
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 3px;
  max-width: 700px;
  margin: 2rem auto;
  padding: 3rem; }

/*# sourceMappingURL=main.map */